#about {
    grid-template-rows: 10rem 60rem;
}

#about__subtitle {
    margin-right: 1.5rem;
}

#about__paragraph {
    margin-top: 1rem;
}

#about__text-container {
    grid-column: 2 / 8;
    grid-row: 2 / -1;
    align-self: center;
    justify-self: flex-start;
}

#about__photo-container {
    grid-column: 9 / 15;
    grid-row: 2 / -1;
    z-index: -2;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

#about__photo {
    height: 100%;
    transform: translateX(-10rem);
}

#about__button {
    width: 15rem;
    height: 6rem;
    align-self: flex-start;
    margin-top: 4rem;
}
