.button {
    @include respond(big-desktop) {
        font-size: 3rem;
    }

    align-self: center;
    justify-self: center;

    background: $color-secondary-green;
    border: none;
    font-size: 2.4rem;
    font-family: $font-paragraph;
    color: #fff;
    border-radius: $border-radius;
    outline: none;

    transition: all .3s ease;

    &__s {
        @include respond(big-desktop) {
            width: 14rem;
            height: 5.5rem;
        }

        width: 12rem;
        height: 4.5rem;
    }

    &__m {
        @include respond(big-desktop) {
            width: 17rem;
            height: 7rem;
        }

        width: 15rem;
        height: 5rem;
    }

    &__l {
        @include respond(big-desktop) {
            width: 29rem;
            height: 7rem;
        }

        width: 25rem;
        height: 6rem;
    }

    &:hover {
        cursor: pointer;
        background: $color-secondary-blue;
        transform: scale(1.02);
        box-shadow: $shadow-button;
    }

    &:active {
        cursor: pointer;
        background: $color-secondary-blue;
        transform: scale(1);
        box-shadow: none;
    }
}

.arrow-button {
    &__container {
        grid-column: 1 / 13;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: flex-end;
        z-index: 10;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background: $color-secondary-green;
        display: flex;
        align-items: center;
        justify-content: center;
    
        transition: all .3s ease;

        @include respond(tab-port) {
            grid-column: 2 / 8;
            justify-self: center;
            align-self: flex-start;
            transform: translate(0, -3rem);
        }
    
        &:hover {
            cursor: pointer;
            background: $color-secondary-blue;
            transform: translateY(3px);

            @include respond(tab-port) {
                transform: translate(0, -2.7rem);
            }
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        fill: #fff;
        margin-top: 5px;
    }
}
