.button {
    grid-row: 1 / -1;
    grid-column: 12 / 14;
    align-self: center;
    justify-self: center;

    background: $color-primary-blue;
    border: none;
    height: 4.5rem;
    width: 12rem;
    font-size: 2.4rem;
    font-family: $font-paragraph;
    color: #fff;
    border-radius: $border-radius;
    outline: none;

    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        background: $color-secondary-blue;
        transform: scale(1.02);
        box-shadow: $shadow-button;
    }

    &:active {
        cursor: pointer;
        background: $color-secondary-blue;
        transform: scale(1);
        box-shadow: none;
    }
}