.form {
    border: $border-box;
    border-radius: $border-radius;
    box-shadow: $shadow-box;

    display: flex;
    flex-direction: column;

    &__label {
        width: 60rem;
        margin: 2.5rem auto 1rem;

        color: $color-tertiary-grey;
        letter-spacing: 1px;

        @include respond(tab-port) {
            width: 50rem;
        }
    }

    &__input {
        width: 60rem;
        margin: 0 auto;

        height: 5rem;
        padding: .5rem 2rem;
        border-radius: 5px;
        border: $border-thin;
        outline: none;

        font-family: $font-paragraph;
        color: $color-primary-blue;
        letter-spacing: 1px;

        transition: all .3s ease;

        @include respond(tab-port) {
            width: 50rem;
        }

        &:hover {
            border: 1px solid $color-secondary-blue;
        }

        &:active,
        &:focus {
            border: 1px solid $color-secondary-blue;
            border-left: 5px solid $color-secondary-blue;
        }
    }
}