#header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid $color-secondary-blue;
    z-index: 10;
    background: #fff;

    &__logo-link {
        grid-row: 1 / -1;
        grid-column: 2 / 5;
        align-self: center;
        justify-self: flex-end;
        width: 100%;
        display: flex;
    }

    &__logo {
        width: 70%;
    }

    &__list {
        grid-row: 1 / -1;
        grid-column: 7 / 12;
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 10rem;
    
        display: flex;
    }

    &__item {
        align-self: center;
        padding: .5rem 2rem 0;
        font-size: 2.4rem;
        text-decoration: none;
        color: $color-tertiary-black;
        font-family: $font-paragraph;
    
        transition: all .3s ease;
    
        &:hover {
            color: $color-secondary-blue;
        }
    }
}
