.line {
    width: 3rem;
    border-bottom: 4px solid $color-secondary-blue;
    margin-bottom: 1.2rem;

    &--white {
        border-bottom: 4px solid #fff;
    }

    &__large {
        width: 60rem;

        @include respond(tab-port) {
            width: 50rem;
        }

        @include respond(phone) {
            width: 30rem;
        }

        @include respond(small-phone) {
            width: 25rem;
        }

        &--white {
            border-bottom: 4px solid #fff;
        }
    }
}