.h1 {
    font-family: $font-header;
    color: $color-primary-green;
    font-size: 7rem;
    font-weight: 900;
    line-height: 6rem;
    letter-spacing: 2.5px;
}

.h2 {
    font-family: $font-header;
    color: $color-primary-blue;
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 5rem;
    letter-spacing: 2.5px;
}

.h3 {
    font-family: $font-header;
    color: $color-tertiary-black;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 2px;
}

.h4 {
    font-family: $font-header;
    color: $color-tertiary-black;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: 2px;
}

.h5 {

}

.h6 {

}

.p-m {
    font-size: 2.4rem;
    font-family: $font-paragraph;
    color: $color-tertiary-grey;
    letter-spacing: 1px;
    line-height: 2.5rem;
}

.p-s {
    font-size: 2rem;
    font-family: $font-paragraph;
    color: $color-tertiary-grey;
    letter-spacing: 1px;
    line-height: 2.5rem;
}
