#about {
    grid-template-rows: 80rem;
    z-index: 1;
    background: $color-gradient-blue;

    @include respond(tab-port) {
        grid-template-rows: 5rem 70rem 50rem;
    }

    @include respond(small-phone) {
        grid-template-rows: 5rem 85rem 50rem;
    }

    &__subtitle {
        margin-right: 1.5rem;
        color: #fff;
    }

    &__paragraph {
        margin-top: 1rem;
        color: #fff;
    }

    &__text-container {
        grid-column: 2 / 8;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: flex-start;

        @include respond(tab-port) {
            grid-row: 2 / 3;
        }
    }

    &__photo-container {
        grid-column: 9 / 15;
        grid-row: 1 / 3;
        align-self: center;
        height: 85%;
        overflow: hidden;
        border-radius: 10px 0 0 10px;
        display: grid;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            border-radius: 0;
        }
    }

    &__photo {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    &__video {
        height: 100%;
        width: auto;
        margin-left: -25rem;

        @include respond(tab-port) {
            margin-left: 0;
            height: auto;
            width: 100%;
        }

        @include respond(phone) {
            height: 100%;
            width: auto;
            margin-left: -15rem;
        }
    }

    &__button {
        align-self: flex-start;
        margin-top: 6rem;
    }
}
