#contact {
    grid-template-rows: 15rem 5rem 4rem 5rem 60rem 10rem;

    &__subtitle {
        grid-row: 1 / 2;
        grid-column: 2 / 14;
        justify-self: center;
        align-self: flex-end;
        margin-bottom: 3rem;
    }

    &__line {
        grid-row: 1 / 2;
        grid-column: 2 / 14;
        justify-self: center;
    }

    &__header {
        grid-row: 2 / 3;
        grid-column: 2 / 14;
        justify-self: center;
        align-self: flex-end;
    }

    &__paragraph {
        grid-row: 3 / 4;
        grid-column: 4 / 12;
        justify-self: center;
        align-self: flex-end;
        text-align: center;
    }

    &__form {
        grid-column: 2 / 14;
        grid-row: 5 / 6;
        padding-top: 2rem;
    }

    &__button {
        margin-top: 4rem;
    }
}