#testimonial {
    grid-template-rows: 70rem;
    background: $color-gradient-green;

    @include respond(tab-port) {
        grid-template-rows: 5rem 40rem 50rem;
    }

    &__subtitle {
        margin-right: 1.5rem;
        color: #fff;
    }

    &__paragraph {
        margin-top: 3rem;
        color: #fff;
    }

    &__text-container {
        grid-column: 8 / 14;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: flex-start;

        @include respond(tab-port) {
            grid-column: 2 / 8;
            grid-row: 2 / 3;
        }
    }

    &__photo-container {
        grid-column: 1 / 7;
        grid-row: 1 / -1;
        align-self: center;
        height: 85%;
        z-index: 0;
        overflow: hidden;
        border-radius: 0 10px 10px 0;

        @include respond(tab-port) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            border-radius: 0;
        }
    }

    &__photo {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}
